[Desktop Entry]
Name=Godot
Comment=Application for making games
Exec=/home/satou/programs/godot %U
Icon=godot
Terminal=false
Type=Application
Categories=Development;
